<div class="w3-container w3-display-container w3-padding-16">
  <!-- <i (click)="w3_close()" class="fa-remove w3-hide-large w3-button w3-display-topright"></i> -->
  <h3 class="w3-wide">
    <b>LOGO</b>
  </h3>
</div>
<div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
  <button *ngIf="accessSitebars.create" (click)="add_new_category('create')" class="w3-button w3-black">Add category</button>
  <a class="w3-bar-item w3-button" *ngFor="let item of categoryLists" 
    [routerLink]="['/global/g', {outlets: {'g': ['product-list']}}]"
    [queryParams]="{category: item.id}"
  >
  	{{item.cate_name}}
  	<button *ngIf="accessSitebars.edit" class="w3-button w3-small category-button" (click)="add_new_category(item.id)">
  		<i class="fa fa-edit"></i>
  	</button>
  	<button *ngIf="accessSitebars.delete" class="w3-button w3-small category-button" (click)="confirmDelete(item.id, item.cate_name)">
  		<i class="fa fa-trash"></i>
  	</button>
  </a>
</div>
<!-- <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a>
<a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletter</a>
<a href="#footer" class="w3-bar-item w3-button w3-padding">Subscribe</a> -->

<div id="addcatemodel" class="w3-modal" style="z-index: 21;">
  <div id="cate-model-content" class="w3-modal-content w3-card-4 w3-animate-zoom">
    <app-add-edit-category [categoryId]="categoryId" [modelOpen] = 'true' (createCateResult)="createCateResult($event)"></app-add-edit-category>
  </div>
</div>

<div id="confirmDeleteCategory" class="w3-modal" style="z-index: 21;">
	<div class="w3-modal-content">
    <header class="w3-container w3-black"> 
      <span (click)="closeModel()" 
      class="w3-button w3-display-topright">&times;</span>
      <h2>Delete category</h2>
    </header>
    <div class="w3-container">
      <p>Are you want to delete category {{cateName}}</p>
    </div>
    <footer class="w3-container w3-light-grey w3-padding">
      <button class="w3-button w3-right w3-red w3-border" (click)="deleteCategory()">Delete</button>
    </footer>
  </div>
</div>