<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>

<!-- Image header -->
<div class="w3-display-container w3-container">
  <img src="https://www.w3schools.com/w3images/jeans.jpg" alt="Jeans" style="width:100%"> <!-- รูปใหญ่บนหัวสุด -->
  <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
    <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
    <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
    <h1 class="w3-hide-small">COLLECTION 2016</h1>
    <p>
      <a class="w3-button w3-black w3-padding-large w3-large"
        [routerLink]="['/global/page', {outlets: {'g': ['product-list', 0]}}]"
      >
        SHOP NOW
      </a>
      <a href="#jeans" *ngIf="accesses.edit" class="w3-button w3-black w3-padding-large w3-large">EDIT</a>
    </p>
  </div>
</div>

<div class="w3-container w3-text-grey" id="jeans">
  <div class="w3-margin-top w3-margin-bottom">
    {{productLists.length}} items 
    <p class="w3-tooltip w3-margin-left w3-white" style="cursor: pointer; display: inline;" (click)="add_new_product('create')">
      <i class="fa fa-plus-square"></i>
      <span style="position:absolute; left:0; bottom:18px; width:130px;" class="w3-text w3-tag">Add new product</span>
    </p>
  </div>
</div>

<!-- Product grid -->
<div class="w3-row">
  <div class="w3-col l3 m4 s7" *ngFor="let item of productLists">
    <div class="w3-container">
      <div class="w3-display-container">
        <img class="prod-img" *ngIf="item.img" [src]="imgLink + item.img" style="width:100%">
        <img class="prod-img" *ngIf="!item.img" [src]="imgLink + 'public/images/empty-image.png'" style="width:100%">
        <!-- <span class="w3-tag w3-display-topleft">Sale</span> -->
        <div class="w3-display-middle w3-display-hover">
          <button class="w3-button w3-tiny w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
        </div>
      </div>
      <p>{{item.product_name}}
        <br>
        <b>฿{{item.product_price}}</b>
      </p>
    </div>
  </div>
</div>

<div id="addproductmodel" class="w3-modal">
  <div id="producct-model-content" class="w3-modal-content w3-card-4 w3-animate-zoom">
    <app-add-edit-product [productId]="productId" [modelOpen] = 'true' (createProductResult)="createProductResult($event)"></app-add-edit-product>
  </div>
</div>