<!-- Push down content on small screens -->
<div class="w3-hide-large" style="margin-top:83px"></div>

<!-- Image header -->
<div class="w3-display-container w3-container">
  <img src="https://www.w3schools.com/w3images/jeans.jpg" alt="Jeans" style="width:100%"> <!-- รูปใหญ่บนหัวสุด -->
  <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
    <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
    <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
    <h1 class="w3-hide-small">COLLECTION 2016</h1>
    <p>
      <a href="#jeans" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a>
      <a href="#jeans" *ngIf="accesses.edit" class="w3-button w3-black w3-padding-large w3-large">EDIT</a>
    </p>
  </div>
</div>

<div class="w3-container w3-text-grey" id="jeans">
  <p>8 items</p>
</div>

<!-- Product grid -->
<div class="w3-row w3-grayscale" *ngFor="let prod of productLists">
  <div class="w3-col l3 s6">
    <div class="w3-container">
      <img *ngIf="item.img" [src]="imgLink + prod.img" style="width:100%">
      <img *ngIf="!item.img" [src]="imgLink + 'public/images/empty-image.png'" style="width:100%">
      <p>{{prod.product_name}}
        <br>
        <b>$24.99</b>
      </p>
    </div>
  </div>
</div>